*.class
.vscode/settings.json
output.pgm
compressionTest.pgm
1x1.pgm
1x10.pgm
.gitignore
insertRowTest.pgm
.gitignore
compressionTestAllEqual.pgm
removeColumnTest.pgm
maxfilterTest.pgm
p2Submission/Direction.java
p2Submission/Image.java
p2Submission/ImageIterator.java
p2Submission/Node.java
p2Submission/readme.txt
p2Submission/Utilities.java
